<div class = 'about'>
<div class ='item'>
<img class='itemone' src='/contractor.png'><p class= 'aboutinfo'> Custom and Any Flooring is a fully Licensed Residential and Commericial Flooring Contractor. Started in 2005 in Illinois, Custom and Any Flooring has continued to grow and offer sercvices to its community. From start up Commerical Projects to full Residential Renovations. Custom and Any Flooring is their to offer support and bring your design to life. </p>
</div>
<div class = 'item'>
<img class='itemtwo' src ='/estimate.png'><p class= 'aboutinfo'> Custom and Any Flooring Utilizes the newest and most sophisticated technology to offer proper and accurate estimatation services. Whether your a property owner, or a commerical general contractor. Custom and Any Flooring provides accurate and efficient estimations and takeoffs  to insure we have the most cost effective appraoch when working with a budget for both residential renovation and commerical construction projects.</p>
</div>
<div class = 'item'>
</div> 
</div>