<div class ='history'>
    <div class ='info'>
    <h1 class =''>History<h1>
    <h3>
    Originanly starting as a hardwood installer, the owner Abel made it a goal to increase his capacity in interior renovations specifically focusing on the flooring trade. Over the course of 20 years C&A Flooring increased its skill sets and is now working in a variety of locations anywhere from residential homes to large commercial chain industries. C&A has taken many roles through its lifetime in the construction industry including employee, subcontractor and now Flooring Contractor. C&A Flooring is proud to say it brings its principals of producitivty, efficiency, and  effectiveness to every project ensuring overall satisfaction. 
    </h3>
    <div>

</div> 